<div class="d-flex align-items-stretch flex-shrink-0">
    <!--begin::Toolbar wrapper-->
    <div class="d-flex align-items-stretch flex-shrink-0">
        <!--begin::User-->
        <div class="d-flex align-items-center ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
            <!--begin::Menu wrapper-->
            <div class="cursor-pointer symbol symbol-30px symbol-md-40px" data-kt-menu-trigger="click"
                 data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                <div class="symbol-label fs-3 bg-light-danger text-danger"><%= user.nom.substring(0, 1).toUpperCase() %></div>
                <!--<img src="/assets/media/avatars/150-26.jpg" alt="user">-->
            </div>
            <!--begin::Menu-->
            <div id="user-info-menu"
                 class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-primary fw-bold py-4 fs-6 min-w-275px w-375px"
                 data-kt-menu="true">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                    <div class="menu-content d-flex align-items-center px-3">

                        <!--begin::Avatar-->
                        <div class="symbol symbol-50px me-5">
                            <div class="symbol-label fs-3 bg-light-danger text-danger"><%= user.nom.substring(0, 1).toUpperCase() %></div>
                            <!--<img alt="Logo" src="/assets/media/avatars/150-26.jpg">-->
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Username-->
                        <div class="d-flex flex-column">
                            <div class="fw-bolder d-flex align-items-center fs-5"><%= user.nom.split(" ")[0] %>
                                <span class="badge badge-light-success fw-bolder fs-8 px-2 py-1 ms-2">Online</span>
                            </div>
                            <span href="#" id="user-email"
                                  class="fw-bold text-muted text-hover-primary fs-7"><%= user.email %></span>
                        </div>
                        <!--end::Username-->
                    </div>
                </div>
                <!--end::Menu item-->
                <!--begin::Menu separator-->
                <div class="separator my-2"></div>
                <!--end::Menu separator-->

                <!--begin::Menu item-->
                <div class="menu-item px-5">
                    <a onclick="changePassword()" class="menu-link px-5">Change password</a>
                </div>
                <div class="menu-item px-5">
                    <a href="/logout" class="menu-link px-5">Logout</a>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu-->
            <!--end::Menu wrapper-->
        </div>
        <!--end::User -->
        <!--begin::Heaeder menu toggle-->
        <!--end::Heaeder menu toggle-->
    </div>
    <!--end::Toolbar wrapper-->
</div>


<script>
    window.onload = function () {
        var el = document.getElementById("user-email")
        var fontSize = window.getComputedStyle(el, null).getPropertyValue('font-size')
        var textWidth = parseInt(fontSize) * el.innerText.length
        textWidth += (100 - (textWidth % 100))
        var menu = document.getElementById('user-info-menu')
        menu.classList.remove("w-275px")
        var newClass = "w-" + textWidth + "px"
        menu.classList.add(newClass)
    }


    function changePassword() {
        Swal.fire({
            title: "Changing password",
            confirmButtonText : "Change",
            html: `
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <input type="password"
                   class="form-control form-control-solid"
                   placeholder="Current password" id="password"
                   maxlength="100"/>
            <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--end::Label-->
            <!--begin::Input-->
            <input type="password"
                   class="form-control form-control-solid"
                   placeholder="New password" id="new"
                   maxlength="100"/>
            <!--end::Input-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--end::Label-->
            <!--begin::Input-->
            <input type="password"
                   class="form-control form-control-solid"
                   placeholder="Confirm password"
                   id="confirm" />
            <!--end::Input-->
        </div>`,
            icon : 'warning'
        }).then(result=>{
            let password = $('#password').val();
            let newPassword = $('#new').val();
            let confirmPassword = $('#confirm').val();
            if(result.isConfirmed) {
                var progress = Swal.fire({
                    title: "Pending...",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    },
                });
                $.ajax({
                    url : '/utilisateur/changePassword',
                    method : 'post',
                    data : {
                        currentPass : password,
                        newPass : newPassword,
                        confirmPass : confirmPassword
                    },
                    statusCode : {
                        200 : function(response) {
                            progress.close();
                            Swal.fire({
                                title: "Password was changed",
                                icon : 'success'
                            });
                        },

                        500 : function(response) {
                            progress.close();
                            Swal.fire({
                                title: response.responseText,
                                icon : 'error'
                            });
                        }
                    }
                })
            }
        })
    }

</script>