<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../">
    <title>MAD AC & IT Services</title>
    <meta charset="utf-8"/>
    <meta property="og:site_name" content="Vanilla Pay | Plateforme"/>
    <link rel="shortcut icon" href="assets/media/logos/madacit-removebg-preview.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
</head>
<style>
    .show-menu > div {
        cursor: pointer;
    }
</style>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px; background-color:#F0F1F1">
<div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper" style="padding: 50px;">
            <div id="kt_header" style="" class="header align-items-stretch">
                <div class="container-xxl d-flex align-items-stretch justify-content-between">
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                        <a href="/">
                            <img alt="Logo" src="assets/media/logos/madacit.png" style="width:100px"/>
                        </a>
                    </div>
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <div class="d-flex align-items-stretch" id="kt_header_nav"></div>
                        <%- include('../includes/top_headerbar_tolbar') %>
                    </div>
                </div>
            </div>
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <div id="kt_content_container" class="container-xxl">
                        <% if (error != ""){ %>
                            <div class="card mb-5 mb-xl-10">
                                <div class="card-body">
                                    <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-12 p-6">
                                        <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
													<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10"
                                                          fill="black"></rect>
													<rect x="11" y="14" width="7" height="2" rx="1"
                                                          transform="rotate(-90 11 14)" fill="black"></rect>
													<rect x="11" y="17" width="2" height="2" rx="1"
                                                          transform="rotate(-90 11 17)" fill="black"></rect>
												</svg>
											</span>
                                        <div class="d-flex flex-stack flex-grow-1">
                                            <!--begin::Content-->
                                            <div class="fw-bold">
                                                <h4 class="text-gray-900 fw-bolder">Hey !</h4>
                                                <div class="fs-6 text-gray-700"><%= error %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                        <div class="card mb-5 mb-xl-10">
                            <div class="card-body pt-9 pb-0">

                                <!--begin::Navs-->
                                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                                    <!--begin::Nav item-->
                                    <% if(user.Droits.includes('clock')) { %>
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5"
                                               href="/">
                                                Time Clock </a>
                                        </li>
                                    <% } if(user.Droits.includes('historiqueClock')) { %>
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 "
                                               href="/clock">
                                                Historique </a>
                                        </li>
                                    <% } if(user.Droits.includes('listUser')) { %>

                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 active"
                                               href="/utilisateur">
                                                Utilisateurs </a>
                                        </li>

                                    <% } %>
                                </ul>
                                <!--begin::Navs-->
                            </div>
                        </div>

                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                                <!--begin::Post-->
                                <div class="post d-flex flex-column-fluid" id="kt_post">

                                    <!--begin::Container-->
                                    <div id="kt_content_container" class="container-xxl">
                                        <!--begin::Card-->
                                        <div class="card">
                                            <!--begin::Card header-->
                                            <div class="card-header border-0 pt-6">
                                                <!--begin::Card title-->
                                                <div class="card-title">
                                                    <!--begin::Search-->
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                         viewBox="0 0 24 24" fill="none">
														<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546"
                                                              height="2" rx="1" transform="rotate(45 17.0365 15.1223)"
                                                              fill="black"/>
														<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                              fill="black"/>
													</svg>
												</span>
                                                        <!--end::Svg Icon-->
                                                        <input type="text" data-kt-user-table-filter="search"
                                                               class="form-control form-control-solid w-250px ps-15"
                                                               placeholder="Rechercher Utilisateur"/>
                                                    </div>
                                                    <!--end::Search-->
                                                </div>
                                                <!--begin::Card title-->
                                                <!--begin::Card toolbar-->
                                                <div class="card-toolbar">
                                                    <!--begin::Toolbar-->
                                                    <div class="d-flex justify-content-end"
                                                         data-kt-customer-table-toolbar="base">
                                                        <!--begin::Add customer-->
                                                        <button type="button" class="btn btn-primary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#kt_modal_add_customer">
                                            <span class="svg-icon svg-icon-3">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
													<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5"
                                                          fill="black"/>
													<rect x="10.8891" y="17.8033" width="12" height="2" rx="1"
                                                          transform="rotate(-90 10.8891 17.8033)" fill="black"/>
													<rect x="6.01041" y="10.9247" width="12" height="2" rx="1"
                                                          fill="black"/>
												</svg>
											</span> Nouveau
                                                        </button>
                                                        <!--end::Add customer-->
                                                    </div>
                                                    <!--end::Toolbar-->
                                                    <!--begin::Group actions-->
                                                    <!--end::Group actions-->
                                                </div>
                                                <!--end::Card toolbar-->
                                            </div>
                                            <!--end::Card header-->
                                            <!--begin::Card body-->
                                            <div class="card-body pt-0">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 fw-bolder gy-5"
                                                       id="kt_user_table">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                    <!--begin::Table row-->
                                                    <tr class="text-start text-gray fw-boldest fs-3 text-uppercase gs-0">
                                                        <th hidden>Id</th>
                                                        <th class="min-w-150px">Nom</th>
                                                        <th class="min-w-150px">Identifiant</th>
                                                        <th class="min-w-125px">Email</th>
                                                        <th class="min-w-200px">Téléphone</th>
                                                        <th class="min-w-100px">état</th>
                                                        <th hidden>role</th>
                                                        <th class="min-w-100px">Actions</th>
                                                    </tr>
                                                    <!--end::Table row-->
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bolder text-gray-600">
                                                    <% users.forEach((user, index)=>{ %>
                                                        <tr>
                                                            <td hidden><%= user.id %></td>
                                                            <!--begin::Name=-->
                                                            <td>
                                                                <%= user.nom %>
                                                            </td>
                                                            <!--end::Name=-->
                                                            <!--begin::Prenom=-->
                                                            <td>
                                                                <%= user.prenom %>
                                                            </td>
                                                            <!--end::Prenom=-->
                                                            <!--begin::Email=-->
                                                            <td>
                                                                <%= user.email %>
                                                            </td>
                                                            <!--end::Email=-->
                                                            <!--begin::Company=-->
                                                            <td><%= user.tel %></td>
                                                            <!--end::Company=-->
                                                            <!--begin::Payment method=-->
                                                            <td>
                                                                <% if (user.etat == Etat.ACTIF) { %>
                                                                    <span class="text-center text-success fs-7 m-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16" fill="#50CD89" class="bi bi-circle-fill"
                                                                 viewBox="0 0 16 16"><circle cx="5" cy="5" r="5"/></svg>
                                                        Actif
                                                    </span>
                                                                <% } else if (user.etat == Etat.INACTIF){ %>
                                                                    <span class="text-center text-danger fs-7 m-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                 height="16" fill="#ff1f1f" class="bi bi-circle-fill"
                                                                 viewBox="0 0 16 16"><circle cx="5" cy="5" r="5"/></svg>
                                                        Inactif
                                                    </span>
                                                                <% } else if (user.etat == 3){ %>
                                                                    <span class="text-center text-warning fs-7 m-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="#FFC700" class="bi bi-circle-fill"
                                                             viewBox="0 0 16 16"><circle cx="5" cy="5" r="5"/></svg>
                                                        En Attente
                                                    </span>
                                                                <% } %>
                                                            </td>
                                                            <td hidden><%= user.RoleAssocie %></td>
                                                            <!--end::Payment method=-->
                                                            <!--begin::Action=-->
                                                            <td>
                                                                <a href="#"
                                                                   class="btn btn-sm btn-light-primary btn-active-light-primary"
                                                                   data-kt-menu-trigger="click"
                                                                   data-kt-menu-placement="bottom-end">Actions
                                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                                    <span class="svg-icon svg-icon-5 m-0">
															<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none">
																<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z"
                                                                      fill="black"/>
															</svg>
														</span>
                                                                    <!--end::Svg Icon--></a>
                                                                <!--begin::Menu-->
                                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary shadow p-2 mb-5  fw-bold fs-7 w-125px py-4"
                                                                     data-kt-menu="true">
                                                                    <% if(user.etat == Etat.ACTIF || user.etat == Etat.UTILISATEUR_ETAT_INITIAL){ %>
                                                                        <!--begin::Menu item-->
                                                                        <div class="menu-item px-3">
                                                                            <a data-bs-toggle="modal"
                                                                               data-bs-target="#kt_modal_update_details"
                                                                               data-kt-customer-table-filter="update_row"
                                                                               class="menu-link px-3">Modifier</a>
                                                                        </div>
                                                                        <!--end::Menu item-->
                                                                    <% } %>
                                                                    <% if(user.etat == Etat.ACTIF){ %>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link px-3"
                                                                               onclick="changerEtat('<%= user.nom %>',0,'<%= user.id %>')"
                                                                               data-kt-customer-table-filter="delete_row">Désactiver</a>
                                                                        </div>
                                                                    <% } %>
                                                                    <% if(user.etat == Etat.INACTIF){ %>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link px-3"
                                                                               onclick="changerEtat('<%= user.nom %>',1,'<%= user.id %>')"
                                                                               data-kt-customer-table-filter="reactivate_row">Réactiver</a>
                                                                        </div>
                                                                    <% } %>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link px-3"
                                                                               onclick="reinitiate('<%= user.nom %>','<%= user.id %>')"
                                                                               data-kt-customer-table-filter="reinitiate_mdp">Réini.. mot de passe</a>
                                                                        </div>
                                                                        <div class="menu-item px-3">
                                                                            <a class="menu-link px-3"
                                                                               onclick="showException('<%= user.id %>','<%= user.nom %>',<%= user.exceptionlunch %>)">Exception Lunch Time</a>
                                                                        </div>
                                                                    <!--end::Menu item-->
                                                                </div>
                                                                <!--end::Menu-->
                                                            </td>
                                                            <!--end::Action=-->
                                                        </tr>
                                                    <% }) %>
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                        <!--end::Card-->
                                        <!--begin::Modals-->
                                        <!--begin::Modal - Customers - Add-->
                                        <div class="modal fade" id="kt_modal_add_customer" tabindex="-1"
                                             aria-hidden="true">
                                            <!--begin::Modal dialog-->
                                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                                <!--begin::Modal content-->
                                                <div class="modal-content">
                                                    <!--begin::Form-->
                                                    <form class="form" action="#" id="kt_modal_add_customer_form"
                                                          data-kt-redirect="../../demo1/dist/apps/customers/list.html">
                                                        <!--begin::Modal header-->
                                                        <div class="modal-header" id="kt_modal_add_customer_header">
                                                            <!--begin::Modal title-->
                                                            <h2 class="fw-bolder">Nouveau - Utilisateur</h2>
                                                            <!--end::Modal title-->
                                                            <!--begin::Close-->
                                                            <div id="kt_modal_add_customer_close"
                                                                 class="btn btn-icon btn-sm btn-active-icon-primary">
                                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                                                <span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="6" y="17.3137" width="16"
                                                                      height="2" rx="1"
                                                                      transform="rotate(-45 6 17.3137)" fill="black"/>
																<rect x="7.41422" y="6" width="16" height="2" rx="1"
                                                                      transform="rotate(45 7.41422 6)" fill="black"/>
															</svg>
														</span>
                                                                <!--end::Svg Icon-->
                                                            </div>
                                                            <!--end::Close-->
                                                        </div>
                                                        <!--end::Modal header-->
                                                        <!--begin::Modal body-->
                                                        <div class="modal-body py-10 px-lg-17">
                                                            <!--begin::Scroll-->
                                                            <div class="scroll-y me-n7 pe-7"
                                                                 id="kt_modal_add_customer_scroll"
                                                                 data-kt-scroll="true"
                                                                 data-kt-scroll-activate="{default: false, lg: true}"
                                                                 data-kt-scroll-max-height="auto"
                                                                 data-kt-scroll-dependencies="#kt_modal_add_customer_header"
                                                                 data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
                                                                 data-kt-scroll-offset="300px">
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7">
                                                                    <!--begin::Label-->
                                                                    <label class="fs-6 fw-bold mb-2">
                                                                         <span class="required" data-bs-toggle="popover"
                                                                               data-bs-trigger="hover"
                                                                               data-bs-html="true"
                                                                               data-bs-content="Le nom de l'utilisateur">Nom
                                                                         </span>
                                                                    </label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="text"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="Nom" name="new-name" value=""
                                                                           maxlength="100"/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7">
                                                                    <!--begin::Label-->
                                                                    <label class="fs-6 fw-bold mb-2">
                                                                        <span class="required" data-bs-toggle="popover"
                                                                              data-bs-trigger="hover"
                                                                              data-bs-html="true"
                                                                              data-bs-content="">Identifiant
                                                                        </span>
                                                                    </label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="text"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="Identifiant" name="new-prenom"
                                                                           value="" maxlength="100"/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7">
                                                                    <!--begin::Label-->
                                                                    <label class="fs-6 fw-bold mb-2">
                                                                         <span data-bs-toggle="popover"
                                                                               data-bs-trigger="hover"
                                                                               data-bs-html="true"
                                                                               data-bs-content="L'adresse email doit être valide">Email</span>
                                                                    </label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="email"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="addresse@mail.mail"
                                                                           name="new-email" value=""/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7">
                                                                    <!--begin::Label-->
                                                                    <label class=" fs-6 fw-bold mb-2">Téléphone</label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="text"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="" id="mask-phone"
                                                                           name="new-phone" value=""/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                            </div>
                                                        </div>
                                                        <!--end::Modal body-->
                                                        <!--begin::Modal footer-->
                                                        <div class="modal-footer flex-center">
                                                            <!--begin::Button-->
                                                            <button type="reset" id="kt_modal_add_customer_cancel"
                                                                    class="btn btn-light me-3">Annuler
                                                            </button>
                                                            <!--end::Button-->
                                                            <!--begin::Button-->
                                                            <button type="submit" id="kt_modal_add_customer_submit"
                                                                    class="btn btn-success">
                                                                <span class="indicator-label">Enregistrer</span>
                                                                <span class="indicator-progress">Patientez ...
														<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                            </button>
                                                            <!--end::Button-->
                                                        </div>
                                                        <!--end::Modal footer-->
                                                    </form>
                                                    <!--end::Form-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Modal - Customers - Add-->
                                        <!--begin::Modal - Update user details-->
                                        <div class="modal fade" id="kt_modal_update_details" tabindex="-1"
                                             aria-hidden="true">
                                            <!--begin::Modal dialog-->
                                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                                <!--begin::Modal content-->
                                                <div class="modal-content">
                                                    <!--begin::Form-->
                                                    <form class="form" action="#" id="kt_modal_update_user_form">
                                                        <!--begin::Modal header-->
                                                        <div class="modal-header" id="kt_modal_update_user_header">
                                                            <!--begin::Modal title-->
                                                            <h2 class="fw-bolder">Edition - Utilisateur</h2>
                                                            <!--end::Modal title-->
                                                            <!--begin::Close-->
                                                            <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                                                 data-kt-users-modal-action="close">
                                                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                                                <span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="6" y="17.3137" width="16"
                                                                      height="2" rx="1"
                                                                      transform="rotate(-45 6 17.3137)" fill="black"/>
																<rect x="7.41422" y="6" width="16" height="2" rx="1"
                                                                      transform="rotate(45 7.41422 6)" fill="black"/>
															</svg>
														</span>
                                                                <!--end::Svg Icon-->
                                                            </div>
                                                            <!--end::Close-->
                                                        </div>
                                                        <!--end::Modal header-->
                                                        <!--begin::Modal body-->
                                                        <div class="modal-body py-10 px-lg-17">
                                                            <!--begin::Scroll-->
                                                            <div class="d-flex flex-column scroll-y me-n7 pe-7"
                                                                 id="kt_modal_update_user_scroll" data-kt-scroll="true"
                                                                 data-kt-scroll-activate="{default: false, lg: true}"
                                                                 data-kt-scroll-max-height="auto"
                                                                 data-kt-scroll-dependencies="#kt_modal_update_user_header"
                                                                 data-kt-scroll-wrappers="#kt_modal_update_user_scroll"
                                                                 data-kt-scroll-offset="300px">
                                                                <div class="fv-row mb-7">
                                                                    <label class="fs-6 fw-bold mb-2">
                                                                        <span class="required" data-bs-toggle="popover"
                                                                              data-bs-trigger="hover"
                                                                              data-bs-html="true"
                                                                              data-bs-content="Le nom de l'utilisateur suivi de son prénom">Nom</span>
                                                                    </label>
                                                                    <!--begin::Input-->
                                                                    <input type="text" name="update_id" id="update_id"
                                                                           value="" hidden>
                                                                    <input type="text"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="" name="update-name"
                                                                           id="update-name"
                                                                           value="" maxlength="100"/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7">
                                                                    <label class="fs-6 fw-bold mb-2">
                                                                        <span class="required" data-bs-toggle="popover"
                                                                              data-bs-trigger="hover"
                                                                              data-bs-html="true"
                                                                              data-bs-content="">Identifiant</span>
                                                                    </label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="text"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="" name="update-prenom"
                                                                           id="update-prenom"
                                                                           value="" maxlength="100"/>
                                                                </div>
                                                                <div class="fv-row mb-7">
                                                                    <label class="fs-6 fw-bold mb-2">
                                                            <span data-bs-toggle="popover"
                                                                  data-bs-trigger="hover"
                                                                  data-bs-html="true"
                                                                  data-bs-content="L'adresse email n'est pas modifiable">Email</span>
                                                                    </label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="email"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="addresse@mail.mail"
                                                                           name="update-email"
                                                                           id="update-email"
                                                                           value=""/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-15">
                                                                    <!--begin::Label-->
                                                                    <label class=" fs-6 fw-bold mb-2">Téléphone</label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <input type="text"
                                                                           class="form-control form-control-solid"
                                                                           placeholder="" id="update-phone"
                                                                           name="update-phone"
                                                                           value=""/>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <div class="fv-row mb-7">
                                                                    <!--begin::Label-->
                                                                    <label class=" fs-6 fw-bold mb-2">Rôles</label>
                                                                    <!--end::Label-->
                                                                    <!--begin::Input-->
                                                                    <select class="required form-control form-control-solid"
                                                                            id="update-role" name="update-role">
                                                                        <% for(var i = 0;i < roles.length;i++) { %>
                                                                            <option value="<%= roles[i].id %>"><%= roles[i].libelle %></option>
                                                                        <% } %>
                                                                    </select>
                                                                    <!--end::Input-->
                                                                </div>
                                                                <!--end::Input group-->
                                                            </div>
                                                            <!--end::Scroll-->
                                                        </div>
                                                        <!--end::Modal body-->
                                                        <!--begin::Modal footer-->
                                                        <div class="modal-footer flex-center">
                                                            <!--begin::Button-->
                                                            <button type="reset" class="btn btn-light me-3"
                                                                    data-kt-users-modal-action="cancel">Annuler
                                                            </button>
                                                            <!--end::Button-->
                                                            <!--begin::Button-->
                                                            <button type="submit" class="btn btn-primary"
                                                                    data-kt-users-modal-action="submit">
                                                                <span class="indicator-label">Enregistrer</span>
                                                                <span class="indicator-progress">Patientez...
														<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                            </button>
                                                            <!--end::Button-->
                                                        </div>
                                                        <!--end::Modal footer-->
                                                    </form>
                                                    <!--end::Form-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Modal - Update user details-->
                                        <!--end::Modals-->
                                    </div>
                                    <!--end::Container-->
                                </div>
                                <!--end::Post-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Wrapper-->
</div>
<%- include('../includes/bottom_footer') %>
<!--end::Page-->
</div>
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<script src="assets/js/utilisateur/add.js"></script>
<script src="assets/js/utilisateur/update-infoGen.js"></script>
<script src="assets/js/utilisateur/changer-etat.js"></script>
<script src="assets/js/utilisateur/list.js"></script>
<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="assets/js/config/datatable.js"></script>

<script>
    function showException(id, nom, value) {
        Swal.fire({
            icon : 'warning',
            title : value ? "Voulez-vous retirer l'exception du Lunch Time pour " + nom + " ?" : "Voulez-vous ajouter une exception du Lunch Time pour " + nom + " ?",
            showCancelButton : true,
            cancelButtonText :'Non',
            confirmButtonText: "Oui"
        }).then(result=>{
            if(result.isConfirmed) {
                $.ajax({
                    url : '/utilisateur/exception/'+id+'/'+ (value ? 0 : 1),
                    method : 'get',
                    statusCode : {
                        200 : function() {
                            window.location.href='/utilisateur'
                        }
                    }
                })
            }
        })
    }
</script>

</body>

</html>