<!DOCTYPE html>
<!--
Author: Keenthemes
Product Name: Metronic - Bootstrap 5 HTML, VueJS, React, Angular & Laravel Admin Dashboard Theme
Purchase: https://1.envato.market/EA4JP
Website: http://www.keenthemes.com
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
License: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../">
    <title>MAD AC & IT Services</title>
    <meta charset="utf-8"/>
    <meta property="og:site_name" content="Vanilla Pay | Plateforme"/>
    <link rel="shortcut icon" href="assets/media/logos/madacit-removebg-preview.png"/>
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<style>
    .show-menu > div {
        cursor: pointer;
    }
</style>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px; background-color:#F0F1F1">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper" style="padding: 50px;">
            <!--begin::Header-->
            <div id="kt_header" style="" class="header align-items-stretch">
                <!--begin::Container-->
                <div class="container-xxl d-flex align-items-stretch justify-content-between">
                    <!--begin::Aside mobile toggle-->
                    <!--end::Aside mobile toggle-->
                    <!--begin::Logo-->
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                        <a href="/">
                            <img alt="Logo" src="assets/media/logos/madacit.png" style="width:100px"/>
                        </a>
                    </div>
                    <!--end::Logo-->
                    <!--begin::Wrapper-->
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <!--begin::Navbar-->
                        <div class="d-flex align-items-stretch" id="kt_header_nav"></div>
                        <!--end::Navbar-->
                        <!--begin::Topbar-->
                        <%- include('./includes/top_headerbar_tolbar') %>
                        <!--end::Topbar-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-xxl">
                        <% if (error != ""){ %>
                            <div class="card mb-5 mb-xl-10">
                                <!--begin::Card body-->
                                <div class="card-body">
                                    <!--begin::Notice-->
                                    <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-12 p-6">
                                        <!--begin::Icon-->
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
                                        <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
													<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10"
                                                          fill="black"></rect>
													<rect x="11" y="14" width="7" height="2" rx="1"
                                                          transform="rotate(-90 11 14)" fill="black"></rect>
													<rect x="11" y="17" width="2" height="2" rx="1"
                                                          transform="rotate(-90 11 17)" fill="black"></rect>
												</svg>
											</span>
                                        <!--end::Svg Icon-->
                                        <!--end::Icon-->
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-stack flex-grow-1">
                                            <!--begin::Content-->
                                            <div class="fw-bold">
                                                <h4 class="text-gray-900 fw-bolder">Hey !</h4>
                                                <div class="fs-6 text-gray-700"><%= error %></div>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Notice-->
                                </div>
                                <!--end::Card body-->
                            </div>
                        <% } %>

                        <div class="card mb-5 mb-xl-10">
                            <div class="card-body pt-9 pb-0">

                                <!--begin::Navs-->
                                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                                    <!--begin::Nav item-->
                                    <% if(user.Droits.includes('clock')) { %>
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 active"
                                               href="/">
                                                Time Clock </a>
                                        </li>
                                    <% } if(user.Droits.includes('historiqueClock')) { %>
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 "
                                               href="/clock">
                                                Historique </a>
                                        </li>
                                    <% } if(user.Droits.includes('listUser')) { %>

                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 "
                                               href="/utilisateur">
                                                Utilisateurs </a>
                                        </li>

                                    <% } %>
                                </ul>
                                <!--begin::Navs-->
                            </div>
                        </div>

                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                            <!--begin::Card header-->
                            <div class="card-header cursor-pointer">
                                <!--begin::Card title-->
                                <% if(user.Droits.includes('clock')) { %>
                                    <% if(clock.clockOut) { %>
                                        <a href="/clock/out/0" onclick="progressBarClockOut(event)"
                                           class="btn btn-sm btn-danger align-self-center"
                                           style="font-size : 18px; height : 40px; width : 200px; background-color: #FF8080">CLOCK
                                            OUT</a>
                                    <% } else { %>
                                        <a href="/clock/in" onclick="progressBarClockIn(event)"
                                           class="btn btn-sm btn-primary align-self-center"
                                           style="font-size : 18px; height : 40px; width : 200px; background-color: #293F95">CLOCK
                                            IN</a>
                                <% } } %>

                            </div>
                            <!--begin::Card header-->

                            <!--begin::Card body-->
                            <% if(clock.clockOut) { %>
                                <div class="card-body p-9">
                                    <!--begin::Row-->
                                    <div class="row mb-7">
                                        <!--begin::Label-->
                                        <label class="col-lg-4 fw-semibold text-muted">Time in</label>
                                        <!--end::Label-->

                                        <!--begin::Col-->
                                        <div class="col-lg-8">
                                            <span class="fw-bold fs-6 text-gray-800"><%= clock.dateFormatted %></span>
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <div class="row mb-7">
                                        <!--begin::Label-->
                                        <label class="col-lg-4 fw-semibold text-muted">Time passed</label>
                                        <!--end::Label-->

                                        <!--begin::Col-->
                                        <div class="col-lg-8">
                                            <span class="fw-bold fs-6 text-gray-800" id="timeRun"></span>
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Notice-->
                                </div>
                            <% } %>
                        </div>


                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->


            </div>
            <!--end::Content-->
            <!--begin::Footer-->

            <!--end::Footer-->
        </div>
        <!--end::Wrapper-->
    </div>
    <%- include('./includes/bottom_footer') %>
    <!--end::Page-->
</div>
<!--end::Root-->
<!--end::Main-->
<!--begin::Javascript-->
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Vendors Javascript(used by this page)--><!--
<script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>-->
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)--><!--
<script src="assets/js/custom/widgets.js"></script>
<script src="assets/js/custom/apps/chat/chat.js"></script>
<script src="assets/js/custom/modals/create-app.js"></script>
<script src="assets/js/custom/modals/upgrade-plan.js"></script>-->
<script>
    var run = '<%= clock.clockOut %>';
    var launch = '<%= clock.launch %>';
    var id = '<%= clock.id %>';
    var timePassed = '<%= clock.timePassed %>';
    var commencement = new Date();
    var exception = '<%= clock.exception %>';

    function updateTime() {


        const currentDate = new Date();
        // Calculate the time difference in milliseconds
        const timeDifference = currentDate - commencement;

        const timePassedInSeconds = (Math.abs(Math.floor(timeDifference / 1000))) + Math.abs(Math.floor(timePassed));

        // Convert seconds to hours, minutes, and remaining seconds
        const hours = Math.floor(timePassedInSeconds / 3600);
        const minutes = Math.floor((timePassedInSeconds % 3600) / 60);
        const seconds = timePassedInSeconds % 60;

        // Construct the time string
        const timeString = String(hours).padStart(2, '0') + ':' + String(minutes).padStart(2, '0') + ':' + String(seconds).padStart(2, '0');

        if (timePassedInSeconds >= 18000 && exception == 'false') {
            Swal.fire({
                title: "Clock Out...",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });
            window.location.href = '/clock/out/1';
        }

        // Update the HTML element with id "currentTime" with the current time
        document.getElementById('timeRun').innerText = timeString;
    }

    // Call updateTime function initially to display the current time
    if (run == 'true') {
        updateTime();
        setInterval(updateTime, 1000);
    }

    function progressBarClockIn(event) {

        Swal.fire({
            title: "Clock In...",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            },
        });
        event.preventDefault();

        // Example: Navigate to the href URL after some action
        window.location.href = event.target.href;
    }

    function progressBarClockOut(event) {

        Swal.fire({
            title: "Clock Out...",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            },
        });
        event.preventDefault();

        // Example: Navigate to the href URL after some action
        window.location.href = event.target.href;
    }

    if (launch == 'true') {
        Swal.fire({
            title: "Lunch Time",
            icon: 'info'
        }).then(data => {
            $.ajax({
                url: '/clock/launch/' + id,
                method: 'get'
            })
            data.dismiss;
        });
    }
    // Update the time every second

</script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>