<!DOCTYPE html>
<html lang="en">
<head>
    <base href="../">
    <title>MAD AC & IT Services</title>
    <meta charset="utf-8"/>
    <meta property="og:site_name" content="Vanilla Pay | Plateforme"/>
    <link rel="shortcut icon" href="assets/media/logos/madacit-removebg-preview.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
    <link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
</head>
<style>
    .show-menu > div {
        cursor: pointer;
    }
</style>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px; background-color:#F0F1F1">
<div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper" style="padding: 50px;">
            <div id="kt_header" style="" class="header align-items-stretch">
                <div class="container-xxl d-flex align-items-stretch justify-content-between">
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
                        <a href="/">
                            <img alt="Logo" src="assets/media/logos/madacit.png" style="width:100px"/>
                        </a>
                    </div>
                    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                        <div class="d-flex align-items-stretch" id="kt_header_nav"></div>
                        <%- include('../includes/top_headerbar_tolbar') %>
                    </div>
                </div>
            </div>
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <div id="kt_content_container" class="container-xxl">
                        <% if (error != ""){ %>
                            <div class="card mb-5 mb-xl-10">
                                <div class="card-body">
                                    <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-12 p-6">
                                        <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
													<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10"
                                                          fill="black"></rect>
													<rect x="11" y="14" width="7" height="2" rx="1"
                                                          transform="rotate(-90 11 14)" fill="black"></rect>
													<rect x="11" y="17" width="2" height="2" rx="1"
                                                          transform="rotate(-90 11 17)" fill="black"></rect>
												</svg>
											</span>
                                        <div class="d-flex flex-stack flex-grow-1">
                                            <!--begin::Content-->
                                            <div class="fw-bold">
                                                <h4 class="text-gray-900 fw-bolder">Hey !</h4>
                                                <div class="fs-6 text-gray-700"><%= error %></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                        <div class="card mb-5 mb-xl-10">
                            <div class="card-body pt-9 pb-0">

                                <!--begin::Navs-->
                                <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
                                    <!--begin::Nav item-->
                                    <% if(user.Droits.includes('clock')) { %>
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5"
                                               href="/">
                                                Time Clock </a>
                                        </li>
                                    <% } if(user.Droits.includes('historiqueClock')) { %>
                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5 active"
                                               href="/clock">
                                                Historique </a>
                                        </li>
                                    <% } if(user.Droits.includes('listUser')) { %>

                                        <li class="nav-item mt-2">
                                            <a class="nav-link text-active-primary ms-0 me-10 py-5"
                                               href="/utilisateur">
                                                Utilisateurs </a>
                                        </li>

                                    <% } %>
                                </ul>
                                <!--begin::Navs-->
                            </div>
                        </div>

                        <div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
                            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                                <!--begin::Post-->
                                <div class="post d-flex flex-column-fluid" id="kt_post">

                                    <!--begin::Container-->
                                    <div id="kt_content_container" class="container-xxl">
                                        <!--begin::Card-->
                                        <div class="card">
                                            <!--begin::Card header-->
                                            <div class="card-header border-0 pt-6">
                                                <!--begin::Card title-->
                                                <div class="card-title">
                                                    <!--begin::Search-->
                                                    <div class="d-flex align-items-center position-relative my-1">
                                                        <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
													        <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24"
                                                                 viewBox="0 0 24 24" fill="none">
														        <rect opacity="0.5" x="17.0365" y="15.1223"
                                                                      width="8.15546"
                                                                      height="2" rx="1"
                                                                      transform="rotate(45 17.0365 15.1223)"
                                                                      fill="black"/>
														        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                                                      fill="black"/>
													        </svg>
												        </span>
                                                        <!--end::Svg Icon-->
                                                        <input
                                                                class="form-control form-control-solid w-250px ps-15"
                                                                type="text" id="datepicker"/>
                                                        <input style="margin-left : 20px;" type="text"
                                                               data-kt-clock-table-filter="search"
                                                               class="form-control form-control-solid w-250px ps-15"
                                                               placeholder="Rechercher..."/>


                                                    </div>
                                                    <!--end::Search-->
                                                </div>
                                            </div>
                                            <!--end::Card header-->
                                            <!--begin::Card body-->
                                            <div class="card-body pt-0">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 fw-bolder gy-5"
                                                       id="kt_clock_table">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                    <!--begin::Table row-->
                                                    <tr class="text-start text-gray fw-boldest fs-3 text-uppercase gs-0">
                                                        <th>Id</th>
                                                        <th class="min-w-150px">Nom</th>
                                                        <th class="min-w-100px">Identifiant</th>
                                                        <th class="min-w-150px">Clock In</th>
                                                        <th class="min-w-150px">Clock Out</th>
                                                        <th class="min-w-100px">Temps passé</th>
                                                        <th class="min-w-100px">Actions</th>
                                                    </tr>
                                                    <!--end::Table row-->
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bolder text-gray-600">

                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                            <!--end::Card body-->
                                        </div>
                                        <!--end::Card-->
                                        <!--begin::Modals-->
                                        <!--begin::Modal - Customers - Add-->
                                        <div class="modal fade" id="kt_modal_add_customer" tabindex="-1"
                                             aria-hidden="true">
                                            <!--begin::Modal dialog-->
                                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                                <!--begin::Modal content-->
                                                <div class="modal-content">
                                                    <!--begin::Form-->

                                                    <!--begin::Modal header-->
                                                    <div class="modal-header" id="kt_modal_add_customer_header">
                                                        <!--begin::Modal title-->
                                                        <h2 class="fw-bolder" id="titre1">Modifier</h2>
                                                        <!--end::Modal title-->
                                                        <!--begin::Close-->
                                                        <div id="modal_close" onclick="dismissModal()"
                                                             class="btn btn-icon btn-sm btn-active-icon-primary">
                                                            <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                                                            <span class="svg-icon svg-icon-1">
															<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none">
																<rect opacity="0.5" x="6" y="17.3137" width="16"
                                                                      height="2" rx="1"
                                                                      transform="rotate(-45 6 17.3137)" fill="black"/>
																<rect x="7.41422" y="6" width="16" height="2" rx="1"
                                                                      transform="rotate(45 7.41422 6)" fill="black"/>
															</svg>
														</span>
                                                            <!--end::Svg Icon-->
                                                        </div>
                                                        <!--end::Close-->
                                                    </div>
                                                    <!--end::Modal header-->
                                                    <!--begin::Modal body-->
                                                    <div class="modal-body py-10 px-lg-17">
                                                        <!--begin::Scroll-->
                                                        <div class="scroll-y me-n7 pe-7"
                                                             id="kt_modal_add_customer_scroll"
                                                             data-kt-scroll="true"
                                                             data-kt-scroll-activate="{default: false, lg: true}"
                                                             data-kt-scroll-max-height="auto"
                                                             data-kt-scroll-dependencies="#kt_modal_add_customer_header"
                                                             data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
                                                             data-kt-scroll-offset="300px">
                                                            <!--begin::Input group-->
                                                            <input type="hidden"
                                                                   class="form-control form-control-solid"
                                                                   placeholder="" name="id" value="" id="id"
                                                                   maxlength="100"/>
                                                            <div class="fv-row mb-7">
                                                                <!--begin::Label-->
                                                                <label class="fs-6 fw-bold mb-2">
                                                                         <span class="required" data-bs-toggle="popover"
                                                                               data-bs-trigger="hover"
                                                                               data-bs-html="true"
                                                                               data-bs-content="Le nom de l'utilisateur">Clock In
                                                                         </span>
                                                                </label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                <input type="text"
                                                                       class="form-control form-control-solid"
                                                                       name="clockIn" id="clockIn"/>
                                                                <!--end::Input-->
                                                            </div>
                                                            <!--end::Input group-->
                                                            <!--begin::Input group-->
                                                            <div class="fv-row mb-7">
                                                                <!--begin::Label-->
                                                                <label class="fs-6 fw-bold mb-2">
                                                                        <span class="required" data-bs-toggle="popover"
                                                                              data-bs-trigger="hover"
                                                                              data-bs-html="true"
                                                                              data-bs-content="">Clock Out
                                                                        </span>
                                                                </label>
                                                                <!--end::Label-->
                                                                <!--begin::Input-->
                                                                <input type="text"
                                                                       class="form-control form-control-solid"
                                                                       name="clockOut" id="clockOut"/>
                                                                <!--end::Input-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end::Modal body-->
                                                    <!--begin::Modal footer-->
                                                    <div class="modal-footer flex-center">
                                                        <!--begin::Button-->
                                                        <button type="reset" id="modal_cancel" onclick="dismissModal()"
                                                                class="btn btn-light me-3">Annuler
                                                        </button>
                                                        <!--end::Button-->
                                                        <!--begin::Button-->
                                                        <button onclick="submit()" id="kt_modal_add_customer_submit"
                                                                class="btn btn-success">
                                                            <span class="indicator-label">Mettre à jour</span>
                                                            <span class="indicator-progress">Patientez ...
														<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                        </button>
                                                        <!--end::Button-->
                                                    </div>
                                                    <!--end::Modal footer-->
                                                    <!--end::Form-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Modal - Customers - Add-->
                                        <!--begin::Modal - Update user details-->
                                        <!--end::Modal - Update user details-->
                                        <!--end::Modals-->
                                    </div>
                                    <!--end::Container-->
                                </div>
                                <!--end::Post-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Wrapper-->
</div>
<%- include('../includes/bottom_footer') %>
<!--end::Page-->
</div>
<script src="assets/plugins/global/plugins.bundle.js"></script>
<script src="assets/js/scripts.bundle.js"></script>
<script src="assets/js/clock/clock.js"></script>
<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
<script src="assets/js/config/datatable.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>

    $('#datepicker').daterangepicker({
        opens: 'left',
        locale: {
            format: 'DD/MM/YYYY'
        }
    }, function (start, end, label) {
        changeDate(start, end);
    });

    function changeDate(startDaty, endDate) {
        table.clear().draw();
        var progress = Swal.fire({
            title: "Chargement...",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            },
        });
        const startDate = startDaty.format('YYYY-MM-DD HH:mm:ss');
        const finishDate = endDate.format('YYYY-MM-DD HH:mm:ss');
        $.ajax({
            url: '/clock/filter',
            method: 'post',
            data: {
                startDate: startDate,
                finishDate: finishDate
            },
            statusCode: {
                200: function (response) {
                    progress.close();
                    table.rows.add(response).draw();
                },

                500: function (response) {
                    console.log(response.responseText);
                    progress.close();
                    Swal.fire({
                        text: "Désolé, il semble que des erreurs ont été détectées, veuillez réessayer.",
                        icon: "error",
                        buttonsStyling: !1,
                        confirmButtonText: "Ok",
                        customClass: {confirmButton: "btn btn-primary"},
                    });
                }
            }
        })
    }

    function clockout(id, nom) {
        Swal.fire({
            icon: 'info',
            title: "Voulez-vous vraiment terminer la session de " + nom + " ?",
            cancelButtonText: "Annuler",
            confirmButtonText: "Confirmer"
        }).then(data => {
            if (data.isConfirmed) {
                var progress = Swal.fire({
                    title: "Chargement...",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    },
                });
                window.location.href = '/clock/outother/' + id;
            }
        })
    }

    function modify(id, nom, clockIn, clockOut) {
        $('#id').val(id);
        $('#titre1').html("Modifier - " + nom);
        $('#clockIn').daterangepicker({
            timePicker: true,
            startDate: moment(clockIn),
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY HH:mm:ss'
            }
        });
        $('#clockOut').daterangepicker({
            timePicker: true,
            startDate: moment(clockOut),
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY HH:mm:ss'
            }
        });
        $('#kt_modal_add_customer').modal('show');
    }

    function dismissModal() {
        $('#kt_modal_add_customer').modal('hide');
    }

    function submit() {
        var id = $('#id').val();
        var clockOut = $('#clockOut').val();
        var clockIn = $('#clockIn').val();
        var nom = $('#titre1').html().split(' - ')[1];
        var progress = Swal.fire({
            title: "Mise à jour...",
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            },
        });
        $.ajax({
            url: '/clock',
            method: "post",
            dataType: 'json',
            data: {
                clockOut: clockOut,
                clockIn: clockIn,
                id: id,
            },
            statusCode: {
                200: function (response) {
                    var rowData = table.rows().data().toArray();
                    for (var i = 0; i < rowData.length; i++) {
                        const temp = table.cell(i, 0);
                        if (temp.data() == id) {
                            var cell = table.cell(i, 3);
                            cell.data(response.clockIn).draw();
                            var cell2 = table.cell(i, 4);
                            cell2.data(response.clockOut).draw();
                            var cell3 = table.cell(i, 5);
                            cell3.data(response.tempsPasse).draw();
                            var cell4 = table.cell(i, 6);
                            cell4.data("<a onclick=\"modify(" + id + ",'" + nom + "','" + clockIn + "','" + clockOut + "')\" class=\"btn btn-sm btn-light-primary btn-active-light-primary\" data-kt-menu-trigger=\"click\" data-kt-menu-placement=\"bottom-end\">Modifier<span class=\"svg-icon svg-icon-5 m-0\">\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span></a>").draw();
                            break;
                        }
                    }
                    dismissModal();
                    progress.close();
                },
                500 : function(response) {
                    Swal.fire({
                        icon : 'error',
                        title: response
                    });
                }
            }
        })
    }

</script>
</body>

</html>